#创建文件时，若需要保留中文注释，请务必确保本文件编码为 UTF-8 ，否则会无法读取。
workers = 4 # 同时下载文件数
retry = 3   # 下载失败重试次数
threads = 4 # 单个任务下载最大线程数
stream = false # 使用stream模式, 详情请查看文档

[telegram]
# Bot Token
# 更换 Bot Token 后请删除数据库文件和 session.db
token = ""
# Telegram API 配置, 若不配置也可运行, 将使用默认的 API ID 和 API HASH
# 推荐使用自己的 API ID 和 API HASH (https://my.telegram.org)
# app_id = 1025907
# app_hash = "452b0359b988148995f22ff0f4229750"

# 初始化超时时间, 单位: 秒
timeout = 60

# flood_retry = 5
# rpc_retry = 5

[telegram.proxy]
# 启用代理连接 telegram, 只支持 socks5
enable = false
url = "socks5://127.0.0.1:7890"

# 用户列表
[[users]]
# telegram user id
id = 114514
# 使用黑名单模式，开启后下方留空以使用所有存储，反之则为白名单，白名单请在下方输入允许的存储名
blacklist = true
# 将列表留空并开启黑名单模式以允许使用所有存储，此处示例为黑名单模式，用户 114514 可使用所有存储
storages = []

[[users]]
id = 123456
blacklist = false  # 使用白名单模式，此时，用户123456 仅可使用下方列表中的存储
# 此时该用户只能使用名为 本机1 的存储
storages = ["本机1"]

# 存储列表
[[storages]]
# 标识名, 需要唯一
name = "本机1"
# 存储类型, 目前可用: local, alist, webdav, minio
type = "local"
# 启用存储
enable = true
# 文件保存根路径
base_path = "./downloads"

[[storages]]
name = "MyAlist"
type = "alist"
enable = false  #记得启用
base_path = '/'
url = 'https://alist.com'
username = 'admin'
password = 'password'
# alist token 刷新时间 
# 86400--1天   604800--7天   1296000--15天   2592000--30天   15552000--180天
token_exp = 86400  
# alist 可直接使用 token 登录, 此时 username, password, token_exp 将被忽略
# 请自行在 alist 侧配置合理的 token 过期时间
# token = ""

[[storages]]
name = "MyWebdav"
type = "webdav"
enable = false
base_path = '/path/telegram'
url = 'https://example.com/dav'
username = 'username'
password = 'password'

[[storages]]
name = "MyMinio"
type = "minio"
enable = true
endpoint = 'play.min.io'
use_ssl = true
access_key_id = 'Q3AM3UQ867SPQQA43P2F'
secret_access_key = 'zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG'
bucket_name = 'saveanybot'
base_path = '/path/telegram'


# 其他配置

# [log]
# # 日志等级
# level = "DEBUG"

# [temp]
# # 下载文件临时目录, 请不要在此目录下存放任何其他文件
# base_path = "cache/"
# # 临时文件保存时间, 单位: 秒
# cache_ttl = 30

# [db]
# path = "data/data.db" # 数据库文件路径
# session = "data/session.db"

